@import '~styles/variables.less';
@header-height: 64px;
@header-transition: 200ms;
@link-padding: 0.7rem;
@small-query: ~'(max-width: 820px)';
@big-query: ~'(min-width: 821px)';
@big: ~'(max-width: 1040px)';

.is-desktop {
  @media @big {
    display: none;
  }
}

.Header {
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  position: relative;
  color: @secondary-color;
  background: #fff;
  text-shadow: none;
  box-shadow: 0 1px rgba(0, 0, 0, 0.1);
  transition: box-shadow @header-transition ease;

  &.is-transparent {
    position: absolute;
    background: transparent;
    box-shadow: none;
  }

  &-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: @header-height;
    padding: 0 3rem;
    max-width: @max-content-width;
    margin: 0 auto;
  }

  &-title {
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    color: inherit;
    transition: transform 100ms ease, opacity 100ms ease;
    flex-grow: 1;
    text-align: center;
    opacity: 0.7;
    z-index: 222;

    &:hover,
    &:focus {
      color: inherit;
      opacity: 0.9;
    }

    &-logo {
      height: 2rem;
      width: auto;
      transform: translateY(-7%);
      transition: transform @header-transition ease;

      .is-transparent & {
        transform: scale(1.4) translateY(18%);
      }
    }
  }

  &-links {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform @header-transition ease;

    .is-transparent & {
      transform: translateY(20%);
    }

    &.is-left {
      justify-self: flex-start;
      margin-left: -@link-padding;
    }

    &.is-right {
      justify-self: flex-end;
      margin-right: -@link-padding;
    }

    &.is-desktop {
      @media @small-query {
        display: none;
      }
    }

    &.is-mobile {
      @media @big-query {
        display: none;
      }
    }

    &-button {
      padding: 0 @link-padding / 2;
    }


    &-link {
      display: block;
      background: none;
      padding: 0 @link-padding;
      font-size: 0.9rem;
      color: inherit;
      cursor: pointer;
      opacity: 0.8;
      transition: transform 100ms ease, opacity 100ms ease;
      outline: none;

      &:hover,
      &:focus,
      &:active {
        opacity: 1;
        transform: translateY(-1px);
        color: inherit;
        text-decoration-color: transparent;
      }

      &-icon {
        width: 1.8rem;
        height: 1.8rem;
        opacity: 0.8;
      }
    }
  }

  &-testnet {
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 1.4rem;
    line-height: 1.4rem;
    padding: 0 0.5rem;
    transform: translate(-50%, 50%);
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 0 0 1px rgba(#000, 0.1);
    color: rgba(#000, 0.6);
    background: #FFF;
    text-transform: uppercase;
    letter-spacing: 0.9rem;
    font-size: 0.65rem;
    font-weight: bold;
    transition: opacity @header-transition ease;
    z-index: 111;

    > span {
      display: inline-block;
      transform: translateX(0.42rem);
    }

    .is-transparent & {
      opacity: 0;
    }
  }
}
