@import 'variables.less';

// Forms
.ant-form-item-label {
  line-height: 1rem;
}
.ant-form-label label,
.ant-form-item-label label {
  font-size: 1rem;
}
.ant-form-item-required:before {
  color: @primary-color;
}
