@import 'variables.less';

// Forms
.ant-form-item-label {
  line-height: 1rem;
}
.ant-form-label label,
.ant-form-item-label label {
  font-size: 1rem;
}
.ant-form-item-required:before {
  color: @primary-color;
}

// Fix ellipsis breaking on character. I think it's a chinese simplified thing.
div.antd-pro-ellipsis-ellipsis {
  word-break: break-word;
}

// List items with long content can push the actions aside
.ant-list-item {
  overflow: hidden;

  .ant-list-item-content,
  .ant-list-item-meta,
  .ant-list-item-meta-content {
    min-width: 0;
  }

  .ant-list-item-meta-title,
  .ant-list-item-meta-description {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}