@font-face {
  font-family: 'Nunito Sans';
  font-weight: 400;
  src: url('/_next/static/fonts/NunitoSans-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'Nunito Sans';
  font-weight: 600;
  src: url('/_next/static/fonts/NunitoSans-SemiBold.ttf') format('ttf');
}

@font-face {
  font-family: 'Nunito Sans';
  font-weight: 300;
  src: url('/_next/static/fonts/NunitoSans-Light.ttf') format('ttf');
}
