// Override ant less variables
@primary-color: #530EEC;
@link-color: rgba(@primary-color, 0.8);                           
@success-color: #52c41a;
@warning-color: #faad14;
@error-color: #f5222d;
@info-color: #1890ff;
@processing-color: @primary-color;
@normal-color: #DDD;
@heading-color: #221F1F;
@text-color: rgba(#221F1F, .8);
@text-color-secondary : rgba(#221F1F, .6);
@border-color: rgba(229, 231, 235, 100);

@font-family: 'Nunito Sans', 'Helvetica Neue', Arial, sans-serif;
@code-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;

// Custom variables
@primary-color-dark: #3F05BE;
@primary-color-light: #692CEC;

@max-content-width: 1440px;

@tablet-query: ~'(max-width: 900px)';
@mobile-query: ~'(max-width: 600px)';
@tiny-query: ~'(max-width: 360px)';