@import '~styles/variables.less';

.Footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #FFF;
  background: @secondary-color;
  height: 160px;

  &-title {
    margin-bottom: 1.25rem;
    opacity: 0.8;
    transition: transform 100ms ease, opacity 100ms ease;

    &:hover,
    &:focus,
    &:active {
      opacity: 1;
      transform: translateY(-1px);
      color: inherit;
    }

    &-logo {
      height: 1.6rem;
    }
  }

  &-links {
    display: flex;
    justify-content: center;
    align-items: center;

    &-link {
      font-size: 1rem;
      padding: 0 1rem;
      color: #FFF;
      opacity: 0.8;
      transition: opacity 100ms ease;

      &:hover {
        color: inherit;
        opacity: 1;
      }
    }
  }
}
