<p style="margin: 0 0 20px;">
  <a href="{{ args.ccr_url }}" target="_blank">
    {{ args.ccr.title }}</a
  >
  is awaiting approval. As an admin you can help out by reviewing it.
</p>

<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td bgcolor="#ffffff" align="center" style="padding: 40px 30px 40px 30px;">
      <table border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td
            align="center"
            style="border-radius: 3px;"
            bgcolor="{{ UI.PRIMARY }}"
          >
            <a
              href="{{ args.ccr_url }}"
              target="_blank"
              style="font-size: 20px; font-family: Helvetica, Arial, sans-serif; color: #ffffff; text-decoration: none; color: #ffffff; text-decoration: none; padding: 20px 50px; border-radius: 4px; border: 1px solid {{
                UI.PRIMARY
              }}; display: inline-block;"
            >
              Review Request
            </a>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
