<p style="margin: 0 0 20px;">
  You just received a reply from
  <a href="{{ args.author_url }}" target="_blank">{{ args.author.display_name }}</a>
  on <strong>{{ args.proposal.title }}</strong>:
</p>

<p style="margin: 10px 0; padding: 20px; background: #F8F8F8;">
  “{{ args.preview }}”
</p>

<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td bgcolor="#ffffff" align="center" style="padding: 40px 30px 40px 30px;">
        <table border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center" style="border-radius: 3px;" bgcolor="#530EEC">
              <a href="{{ args.comment_url }}" target="_blank" style="font-size: 20px; font-family: Helvetica, Arial, sans-serif; color: #ffffff; text-decoration: none; color: #ffffff; text-decoration: none; padding: 20px 50px; border-radius: 4px; border: 1px solid #530EEC; display: inline-block;">
                View their comment
              </a>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>