<p style="margin: 0 0 20px;">
    Your <strong>{{ args.contribution.amount }} ZEC</strong> contribution has
    been confirmed! <strong>{{ args.proposal.title}}</strong> has been updated
    to reflect your funding, and your account will now show your contribution.
    You can view your transaction below:
</p>

<p style="margin: 0 0 20px;">
    <a
            href="{{ args.tx_explorer_url }}"
            target="_blank"
            rel="nofollow noopener"
    >
        {{ args.tx_explorer_url }}
    </a>
</p>

<p style="margin: 0;">
    Thank you for your help in improving the ZCash ecosystem.
</p>
