<p style="margin: 0;">
    Your followed proposal {{ args.proposal.title }} has had its
    {{ args.milestone.title }}
    milestone accepted!
</p>

<table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <td align="center" bgcolor="#ffffff" style="padding: 40px 30px 40px 30px;">
            <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td
                            align="center"
                            bgcolor="{{ UI.PRIMARY }}"
                            style="border-radius: 3px;"
                    >
                        <a
                                href="{{ args.proposal_url }}"
                                style="font-size: 20px; font-family: Helvetica, Arial, sans-serif; color: #ffffff; text-decoration: none; color: #ffffff; text-decoration: none; padding: 20px 50px; border-radius: 4px; border: 1px solid {{
                UI.PRIMARY
              }}; display: inline-block;"
                                target="_blank"
                        >
                            Check it out
                        </a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
