<p style="margin: 0 0 20px;">
    Your proposal <strong>{{ args.proposal.title }}</strong> just got a
    <strong>{{ args.contribution.amount }} ZEC</strong> contribution from
    {% if args.contributor %}
    <a href="{{ args.contributor_url }}" target="_blank">{{ args.contributor.display_name }}</a>.
    {% else %}
    an anonymous contributor.
    {% endif %}
    Your proposal is now at
    <strong>{{ args.funded }} / {{ args.proposal.target }} ZEC</strong>.
</p>

<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td bgcolor="#ffffff" align="center" style="padding: 40px 30px 40px 30px;">
            <table border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td align="center" style="border-radius: 3px;" bgcolor="{{ UI.PRIMARY }}">
                        <a href="{{ args.proposal_url }}" target="_blank"
                           style="font-size: 20px; font-family: Helvetica, Arial, sans-serif; color: #ffffff; text-decoration: none; color: #ffffff; text-decoration: none; padding: 20px 50px; border-radius: 4px; border: 1px solid {{ UI.PRIMARY }}; display: inline-block;">
                            View your Proposal
                        </a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>