<p style="margin: 0;">
    Your proposal has been approved for public discussion and community feedback on ZF Grants. The Zcash Foundation reviews open grant applications on an ongoing basis, and may request additional revisions based on open feedback before making a final funding determination. Please <a href="https://forum.zcashcommunity.com/c/Grants/Applications/">post your proposal to the Zcash Forums</a> for community feedback!
</p>

{% if args.admin_note %}
<p style="margin: 20px 0 0;">
    A note from the Zcash Foundation:
</p>
<p style="margin: 10px 0; padding: 20px; background: #F8F8F8;">
    “{{ args.admin_note }}”
</p>
{% endif %}

