<p style="margin: 0 0 20px;">
  <strong>{{ args.proposal.title }}</strong> has been staked for
  <strong>{{ args.contribution.amount }} ZEC</strong>! Your proposal will now be
  forwarded to administrators for approval. You can view your transaction below:
</p>

<p style="margin: 0 0 20px;">
  <a href="{{ args.tx_explorer_url }}" target="_blank" rel="nofollow noopener">
    {{ args.tx_explorer_url }}
  </a>
</p>

<p style="margin: 0;">
  Thank you for your help in improving the Zcash ecosystem.
</p>
