<p style="margin: 0 0 20px;">
  {% if args.fully_staked %} 
    <strong>{{ args.proposal.title }}</strong> has been
    staked for <strong>{{ args.contribution.amount }} ZEC</strong>! Your proposal
    will now be forwarded to administrators for approval. 
  {% else %}
    <strong>{{ args.proposal.title }}</strong> has been partially staked for
    <strong>{{ args.contribution.amount }} ZEC</strong> of the required
    <strong>{{ args.stake_target}} ZEC</strong>.
    You can send the remaining amount by going to your profile's "Pending" tab,
    and clicking the "Stake" button next to the proposal.
  {% endif %} 
  You can view your transaction below:
</p>

<p style="margin: 0 0 20px;">
  <a href="{{ args.tx_explorer_url }}" target="_blank" rel="nofollow noopener">
    {{ args.tx_explorer_url }}
  </a>
</p>

<p style="margin: 0;">
  Thank you for your help in improving the Zcash ecosystem.
</p>

