@import '~styles/variables.less';

.ProposalCard {
  border: 1px solid #eee;
  padding: 1rem 1rem 0;
  border-radius: 2px;
  margin-bottom: 1.5rem;
  cursor: pointer;
  transition-property: border-color, box-shadow, transform;
  transition-duration: 100ms;
  transition-timing-function: ease;

  &:hover,
  &:focus {
    border: 1px solid #ccc;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.03);
    transform: translateY(-2px);
  }

  &-title {
    display: -webkit-box;
    font-size: 1rem;
    line-height: 1.3rem;
    height: 2.6rem;
    margin-bottom: 1rem;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  &-team {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.75rem 0;

    &-name {
      opacity: 0.8;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      small {
        opacity: 0.6;
        font-size: 0.6rem;
        font-weight: 500;
      }
    }

    &-avatars {
      display: flex;
      flex-direction: row-reverse;
      margin-left: 1.25rem;

      &-avatar {
        width: 1.8rem;
        height: 1.8rem;
        margin-left: -0.75rem;
        border-radius: 100%;
        border: 2px solid #FFF;
      }
    }
  }

  &-funding {
    display: flex;
    justify-content: space-between;
    line-height: 1.2rem;

    &-raised {
      font-size: 0.9rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      small {
        opacity: 0.6;
      }
    }

    &-percent {
      font-size: 0.7rem;
      padding-left: 0.25rem;
      &.is-funded {
        color: @success-color;
      }
    }
  }

  &-info {
    display: flex;
    justify-content: space-between;
    margin: 0.5rem -1rem 0;
    padding: 0.75rem 1rem;
    border-top: 1px solid #eee;
    background: #fafafa;

    &-category {
      border-radius: 4px;
    }

    &-created {
      opacity: 0.6;
    }
  }

  &-address {
    font-size: 0.7rem;
    margin-right: 2.5rem;
    margin-top: -0.8rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    opacity: 0.4;
  }
}
