.PasswordReset {
  max-width: 500px;
  margin: 0 auto;

  h1 {
    font-size: 2rem;
    text-align: center;
  }

  &-bottom {
    text-align: center;
    font-size: 1rem;
    margin-top: 1rem;
  }

  .ant-alert {
    margin-top: 0.5rem;
  }

  .antd-pro-result-actions {
    a + a {
      margin-left: 0.5rem;
    }
  }
}
