# Webhooks Config
WEBHOOK_URL="http://localhost:5000/api/v1"

# REST Server Config
PORT="5051"

# ZCash Node (Defaults are for regtest)
ZCASH_NODE_URL="http://localhost:18232"
ZCASH_NODE_USERNAME="zcash_user"
ZCASH_NODE_PASSWORD="zcash_password"
MINIMUM_BLOCK_CONFIRMATIONS="6"

# Shared Server Config, run `yarn genkey` to generate
API_SECRET_HASH=""
API_SECRET_KEY=""

# Addresses, run `yarn genaddress` to get sprout information
SPROUT_ADDRESS=""
SPROUT_VIEWKEY=""

# extended public seed
BIP32_XPUB=""
