.SignUp {
  &-container {
    width: 100%;
    max-width: 460px;
    margin: 0 auto;
    padding: 1rem;
    box-shadow: 0 1px 2px rgba(#000, 0.2);
  }

  &-form {
    &-item {
      margin-bottom: 0.5rem;
    }

    &-controls {
      margin-top: 0.5rem;
    }

    &-alert {
      margin-top: 1rem;
    }

    &-legal {
      display: block;
      margin-bottom: 1rem;

      &-text {
        font-size: 0.75rem;
        line-height: 1.2rem;
        opacity: 0.8;
      }

      .ant-form-item-control {
        line-height: inherit;
      }
    }

    .PasswordFormItems .ant-row {
      margin-bottom: 0.75rem;
    }
  }
}
