@import '~styles/variables.less';

.HomeIntro {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1440px;
  padding: 0 4rem;
  margin: 0 auto 4rem;
  overflow: hidden;

  @media @thin-query {
    padding: 0 2rem;
  }

  @media @tablet-query {
    padding-top: 3rem;
  }

  &-content {


    &-title {
      margin-bottom: 2rem;
      font-size: 2.6rem;
    }

    &-subtitle {
      margin-bottom: 2rem;
      font-size: 1.4rem;
      opacity: 0.7;
    }

    &-buttons {
      display: flex;
      align-items: center;

      &-main {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 3.6rem;
        padding: 0 3rem;
        margin-right: 0.75rem;
        font-size: 1.2rem;
        background: @primary-color;
        color: #FFF;
        border-radius: 4px;

        &:hover {
          color: #FFF;
          opacity: 0.9;
        }
      }

      &-learn {
        font-size: 1rem;
      }
    }

    @media @thin-query {
      width: auto;
      min-width: 0;

      &-title {
        margin-bottom: 1.5rem;
        font-size: 2.2rem;
      }
  
      &-subtitle {
        margin-bottom: 1.5rem;
        font-size: 1.2rem;
        opacity: 0.7;
      }
    }

    @media @tablet-query {
      text-align: center;

      &-buttons {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &-auth {
          width: 100%;
          max-width: 260px;
          margin: 0 auto 1rem;
        }
      }
    }
  }

  &-illustration {
    position: relative;
    width: 100%;
    max-width: 480px;
    background-size: contain;

    &:after {
      content: '';
      display: block;
      padding-top: 86.3%; // Aspect ratio of img
    }

    @media @thin-query {
      margin-right: -9rem;
    }

    @media @tablet-query {
      display: none;
    }
  }
}
