@import '~styles/variables.less';

.RFPDetail {
  max-width: 780px;
  margin: 0 auto;

  &-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.75rem;
    font-size: 0.8rem;

    &-back {
      opacity: 0.7;

      &:hover {
        opacity: 1;
      }
    }

    &-date {
      opacity: 0.7;
    }
  }

  &-brief {
    font-size: 1rem;
    margin-bottom: 1.75rem;
    text-align: center;
  }

  &-tags {
    text-align: center;
    margin-bottom: 1.75rem;
  }

  &-title {
    font-size: 2.4rem;
    text-align: center;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  &-content {
    font-size: 1.15rem;
    margin-bottom: 2rem;
  }

  &-rules {
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid rgba(#000, 0.08);

    ul {
      margin: 0;
      padding: 0 0 0 1rem;

      li {
        font-size: 0.9rem;
        line-height: 2rem;
      }
    }
  }

  &-proposals {
    max-width: 560px;
    margin: 2rem auto 0;

    &-title {
      font-size: 1.4rem;
    }
  }

  &-submit {
    margin-top: 2rem;
    font-size: 1.1rem;
    text-align: right;

    &-inner {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1.5rem 0;

      &-button {
        margin-left: 1rem;
        height: 4rem;
        padding: 0 1.25rem;
        font-size: 1.4rem;

        .anticon {
          margin-left: 0.2rem;
          font-size: 1.2rem;
        }
      }
    }

    // Only has this class while affixed
    .ant-affix {
      box-shadow: 0 0 10px 10px #FFF;
      background: #FFF;
    }
  }
}